#OverText-img{
    font-weight: 400;
    color: white;
    margin-left: 3%;
    margin-right: 3%;

}
.nav-link, .navbar-brand{
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

@media (min-width: 992px) { /* Laptops & Desktops */
    #OverText-img {
        font-size: 60px !important; /* Overrides Bootstrap's fs-lg-1 */
    }
}
#infoRow{
    background-color: #272727;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#txt-white{
    color: #FFFFFF;
}
.custom-h3 {
    color: #fff; 
    font-weight: bolder;
    font-size: xx-large;
}
.bottom-margin{
    margin-bottom: 5rem;
}
.big-Font{
    font-size: 4rem;
}
@media (max-width: 768px) {
    .big-Font {
        font-size: 2.5rem;
    }

}

@media (max-width: 576px) {
    .big-Font {
        font-size: 2rem;
    }
}

.darkBg{
    background-color: #272727;
}

.contact-Form{
    font-weight: 300;
}
.fullScreenBg{
    flex: 1;
}
.custom-h1{
    font-size: 5rem;
}
.textJustify{
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
}
@media (max-width: 768px) {
    .custom-h1 {
        font-size: 3.5rem;
    }
    .textJustify{
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 2rem;  
    }
}

@media (max-width: 576px) {
    .custom-h1 {
        font-size: 2rem;
    }
    .textJustify{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 1.5rem;  
    }
}

.separator{
    width: 4rem;
    height: 0.3rem;
    background-color: #FFFFFF;
    border: 2px white;
    border-radius: 2px;
    margin: 3rem;
}
#center{
    margin: 0;
}